//
// Breadcrumbs
// --------------------------------------------------

.breadcrumbs {
  @extend %listreset;
  background-color: $yellow;
  padding: rem-calc(10) rem-calc(15) rem-calc(4);
  font-size: 0;
  line-height: 0;
  letter-spacing: -4px;

  @include media('≥tablet') {
    padding: rem-calc(10) rem-calc(40) rem-calc(4);
  }

  li {
    color: $white;
    display: inline-block;
    vertical-align: middle;
    font-size: rem-calc(12);
    line-height: 1;
    letter-spacing: 0;
    padding-bottom: rem-calc(4);

    + li {
      position: relative;
      padding-left: 24px;

      &:before {
        position: absolute;
        left: 0;
        top: rem-calc(2);
        content: '\e90a';
        font-size: rem-calc(7);
        line-height: 1;
        font-family: $font-ico;
        padding: 0 rem-calc(10);
        font-weight: $normal;
      }
    }

    strong {
      font-weight: $semibold;
    }

    a {
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }

    span {
      font-weight: inherit;
    }

    &.current_item {
      font-weight: $semibold;
    }
  }
}