.subscribe-wrap {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.subscribe {
  display: flex;
  width: 100%;
  color: $white;
  font-family: $ff-mr-eaves;
  font-weight: $normal;
  font-size: rem-calc(38);
  line-height: 38px;
  min-height: rem-calc(224);
  overflow: hidden;

  .title {
    display: block;
    margin-bottom: rem-calc(20);
    text-align: center;

    @include media('卡esktop') {
      margin-bottom: 0;
    }
  }
}

.subscribe-form {
  max-width: rem-calc(334);
  width: 100%;
  position: relative;

  @include media('另ablet') {
    max-width: rem-calc(485);
  }

  > div {
    width: 100%;
  }

  form {
    @include media('另ablet') {
      display: flex;
    }

    > p {
      position: relative;
      margin: 0;
      line-height: 0;
      margin-bottom: rem-calc(16);

      @include media('另ablet') {
        margin-bottom: 0;
        width: calc(100% - 151px);
      }
    }
  }

  .abs-req {
    display: none;
  }

  input[type='text'] {
    width: 100%;
    margin-bottom: 0;
    height: rem-calc(46);
    background: $blue;
    font-weight: $light;
    color: $white;
    border-color: $blue;
    font-size: rem-calc(16);
    line-height: 19px;
    padding: rem-calc(10) rem-calc(12) rem-calc(13);
    font-family: $base-font-sans-serif;

    &:focus {
      background: #d5d5d5;
      border-color: $yellow;
      color: $black;

      @include placeholder {
        color: $black;
      }
    }

    @include placeholder {
      color: $white;
    }
  }

  [type='submit'] {
    height: rem-calc(46);
    display: block;
    margin: 0;
    width: rem-calc(151);
    color: $white;
    font-weight: $normal;
    font-size: rem-calc(16);
    line-height: 19px;
    background: #401608;
    padding: rem-calc(11) rem-calc(10) rem-calc(12);
    text-align: center;
    border: 0;
    outline: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;

    @include media('<tablet') {
      margin: 0 auto;
    }

    &:hover {
      background: $black;
      border-color: $black;
    }
  }

  .formError {
    top: 0 !important;
    left: 0 !important;
    right: 0;
    bottom: 0;

    .formErrorContent {
      width: 100%;
      height: 100%;
      border-width: 2px;
      font-size: rem-calc(11);
      line-height: 14px;
      display: flex;
      align-items: center;
      text-align: center;
    }
  }

  .widget_wysija_cont .updated,
  .widget_wysija_cont .login .message {
    background-color: $blue-light;
    border-color: $blue;
    color: $white;
    margin: 0;
    border-width: 2px;
    height: rem-calc(46);
    align-items: center;

    ul:not([class]) {
      color: inherit;

      li {
        &:before {
          display: none;
        }
      }
    }
  }

  .widget_wysija_cont .allmsgs .updated {
    display: flex !important;
  }
}