include pug/common/_head
	block content
		include pug/common/_header
		main#main
			section.blog-top
				.container-fluid
					.row.justify-content-center
						.col-11
							.date.blog-item
								.row.align-items-end
									.col-7
										ul.footer-list
											li: a(href="#"): span.icon-tel
											li: a(href="#"): span.icon-pin
											li: a(href="#"): span.icon-comment: span.txt 12
									.col-5.text-right.align-self-end
										time(datetime="2017-07-07")
											a(href="#") 07 / 07 / 17
								.row
									.col-12
										.title
											p Bold teacher leadership for equity and excellence in public education: Lessons for administrators
			section.blog-page
				.container-fluid
					.row.justify-content-center
						.col-11
							.row
								.col-md-8.col-xs-12.col-md-offset-1
									p Recently, there has been a lot of education policy talk about teacher leadership. More action has also been taking place—both in the form of fellowships with nonprofits and via more traditional career ladders in districts in cities like Washington, D.C., Denver, and Charlotte. However, in many cases, the concept of teacher leadership continues to be narrowly defined, and often by anyone but teachers themselves.
									p The past three decades have seen profound research on teacher leadership from scholars like Judith Warren Little and Ann Lieberman in the U.S. and David Frost in the U.K. However, in many ways, the status quo of teacher leadership has not changed significantly from what Mark Smylie and Jack Denny described in the early 1990s: although teachers are looked to as agents of change, their leadership potential is fettered by administrators who appoint (or “anoint”) them to serve in narrow roles.
									p Over a decade ago, York-Barr and Duke put together a comprehensive review of the characteristics and dimensions of teacher leadership, which was a new field of inquiry at the time. They noted that while the existing literature was “relatively rich” in regard to classroom experts’ potential to lead, it was light on the “evidence of such effects.”
									p In our 2013 book, Teacherpreneurs, Ann Byrd, Alan Weider, and I lamented the lack of leadership opportunities available for teachers to incubate and execute their own ideas, based on the needs of their students, schools, and communities. The book contains eight case studies that follow expert teachers as they step into hybrid roles as “teacherpreneurs”—teaching students daily while also advocating for and implementing transformative changes in policy and practice.
									p
										img(src="images/blog-img.png", alt="blog image").alignright
										|These eight teacherpreneurs were able to spread their influence beyond their schools and districts, making an impact across their states, the nation, and even globally. By leading virtual communities of practices, designing novel approaches to teacher-led learning, and creating their own teacher-powered schools, they demonstrated that experienced classroom experts can transform public education from inside the system.

									p But no matter how much influence teachers and teacherpreneurs gain, the fact remains that school structures (often shaped by principals) play a critical role in either “empowering or marginalizing” teacher leaders, as Wenner and Campbell found when they revisited York-Barr and Duke’s research in 2016.
									p In two recent CTQ papers, we use a lens of social justice and equity to explore how teachers are learning to lead; the first paper studies a Los Angeles pilot school, Social Justice Humanitas Academy (SJHA), and the second paper focuses on the Denver School for Innovation and Sustainable Design (DSISD).
									p
										strong We also identify a set of conditions that must be in place in order for all teachers to develop the agency and skills they need to lead in powerful ways:
									.wp-caption.alignnone(id="attachment_200")
										img(src="images/seven_cond.png", alt="seven conditions")
										p Here are five specific actions that administrators can take to cultivate these conditions—so they can leverage teacher leadership to create more ambitious outcomes for all students:
									ol
										li
											h4 Define teacher leadership broadly
											p Teacher leadership encompasses everything from supporting administrative functions and mentoring novices to coaching peers and facilitating PLCs—roles and tasks that are readily assigned by administrators. But teacher leadership has to be about much more in order to truly achieve equity and excellence. Teachers are not going to teach in ways that empower their students if they don’t have the opportunity to lead their own learning, and the tools and time required to do so.
											p This begins with expanding our definition of teacher leadership, and thinking beyond the formal roles that are assigned to classroom experts. We must make efforts to include all teachers who influence teaching and learning outside their classrooms and take responsibility for more than just their students. As York-Barr and Duke reminded us, teacher leadership is rarely “vested in one person who is high up in the hierarchy.” It often consists of peer influence and other informal leadership methods.
											p At CTQ, we have seen that teachers learn to lead when they work with colleagues to critically examine practices and policies and to find opportunities to experiment with new possibilities. To build and enact a truly bold teacher leadership vision, administrators should not just seek buy-in from those who teach; they should co-design and implement this vision alongside teacher leaders. By engaging in a system of collective leadership, administrators and teachers can work together to promote equitable and excellent public schooling.
										li
											h4 Create multiple paths for teacher leadership
											p As Ben Owens, award-winning North Carolina physics teacher and member of the CTQ Collaboratory, recently noted, “The keys to designing an effective teacher development and pay system will be the concepts of customization, flexibility, and a myriad of growth options—not ‘one-size-fits-all’ pathways.” Most teacher leadership programs are too cookie-cutter, and they only create opportunities for a scant number of teachers. Ben posits that “Any teacher, regardless of background or experience, can be a leader and make positive changes outside his or her classroom.”
											p Mark Smylie and Jean Brownlee-Conyers made a strong case in the 1990s that the responsibilities of teacher leaders should be “varied, flexible, and idiosyncratic to individual schools to meet specific and changing local leadership needs.” But CTQ's work with teachers and administrators has revealed a number of important leadership pathways for classroom experts:  (1) supporting teaching colleagues, based on evaluation results, to improve their pedagogical practices; (2) curating the curriculum resources and technological innovations needed to teach effectively to new college- and career-ready student standards; (3) developing and scoring more authentic assessments aligned to new standards; and (4) creating and sustaining school-community partnerships necessary to serve the whole child.
											p Administrators can help carve out and clarify these paths for teachers to take, and they can make sure teacher leaders are recognized for their accomplishments. Creating multiple teacher leader pathways will ensure that even more classroom experts have opportunities to apply their deep knowledge to meet the learning needs of individual students.
										li
											h4 Prepare principals for teacher leadership
											p In the past, it has often been assumed that administrators, particularly principals, know how to identify and support teacher leaders. As my colleague Jon Eckert told me recently, “Principals tend to believe they know how to support teacher leadership, since most of them were once teachers.” But this is not always the case.
											p Cultivating teacher leadership requires principals to orchestrate and broker the talents of many, not just a few. It asks principals to lead dynamic organizational change, transforming school cultures where most teachers have become accustomed to teaching in isolation and are not used to being led by their colleagues.
											p Principals must also prioritize identifying and matching teachers’ leadership talents, like experts Danny Medved of DSISD and Jose Navarro of SJHA have done. For example, Danny found ways to redesign the school schedule to create more time for teachers to learn from each other—up to about eight hours a week. Jose, meanwhile, has served as a buffer—shielding his teachers from external political and bureaucratic demands so they can spend more time teaching and leading.
											p Often, principals become expert developers of teacher leaders serendipitously, not intentionally. However, this doesn’t have to be the case. School systems can create joint leadership learning opportunities, with administrators and teachers as equal partners in organizational change.
										li.custom-item
										li
											h4 Measure collective impact and go public with the evidence
											p Over 20 years ago, Richard Elmore addressed the problem of how to adopt and scale innovative teaching and learning practices. He pointed out a number of barriers, such as a lack of strong external normative structures for practice so the reforms could be made more public and “teachers would begin increasingly to think of themselves as operating in a web of professional relations that influence their daily decisions.”
											p The problem is not an insufficient supply of teacher leaders. It is the demand for them. And the most significant obstacle is the lack of systems’ capacity to determine which teachers are leading, who they are influencing and to what effect, and to what extent these teachers’ accomplishments are known and recognized. Over the last several years, CTQ has codified a number of tools and processes for teacher leaders to assess their impact and go public with evidence of their leadership. Working with CTQ, teacher leaders are telling stories that engage not only their colleagues, but also administrators, parents, and policymakers.
											p There is no better example than Glenna Sigmon, a Florida educator and CTQ Collaboratory member who rapidly developed her teacher leadership skills and went public with her story. It did not take long for administrators to recognize Glenna’s leadership skills, and she is now transforming teaching and learning in a high-needs school in her district. In her new teaching-coaching role, Glenna is leading a revolution in professional learning, and she tells me her smartphone is “blowing up with texts from teachers who tried new ideas for instruction that worked!”
											p In order for teachers like Glenna to lead, administrators must play a significant role. District administrators, and particularly those who currently lead professional development, can help by supporting teachers’ efforts to document the impact of their leadership. As Jon Eckert proposes in his book, principal leadership is less about creating the changes needed in teaching and learning than it is about catalyzing these changes.
											p Accumulating data does not just benefit teachers. It also allows school systems to improve by determining which teachers are most effective in closing the achievement gaps, and then finding ways to leverage collective impact to support the learning of all students.
											p Taking these steps will help ensure that all the policy talk about teacher leadership of late will finally translate into action, so we can transform teaching and learning and create a more equitable, excellent public education system.
									.share_this
										span.text-uppercase share:
										.share-buttons
											.item
												span(class="st_linkedin_custom")
													i.icon-linkedin
											.item
												span(class="st_facebook_custom")
													i.icon-facebook
											.item
												span(class="st_twitter_custom")
													i.icon-twitter
								.col-md-4.col-xs-12
									aside#sidebar
										.blog_author
											span.name John Holland
											span.position Teacher
											.avatar
												img(src="images/author.png", alt="author")
											.description
												p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec odio nulla. Donec sed eros ut erat finibus pharetra. Vivamus quis rhoncus felis, ut euismod dolor.
											.view_more
												a(href="#") View my posts
										.widget.related_posts
											h3.title Related Posts
												i.icon-decor-top
											ul
												li
													+blogItem({
														datetime: '2017-07-07',
														time: '07/07/17',
														name: 'by John Holland',
														description: 'Why this effective and passionate teacher is leaving the classroom (for now)'
													})
												li
													+blogItem({
														datetime: '2017-07-07',
														time: '07/07/17',
														name: 'by John Holland',
														description: 'Why this effective and passionate teacher is leaving the classroom (for now)'
													})
												li
													+blogItem({
														datetime: '2017-07-07',
														time: '07/07/17',
														name: 'by John Holland',
														description: 'Why this effective and passionate teacher is leaving the classroom (for now)'
													})
			section.discuss.decor-2
				.container-fluid
					.row.justify-content-center
						.col-xs-12
							.img
								img(src="images/discuss.png", alt="Comments")
			include pug/template/_subscribe
		include pug/common/_footer