include pug/common/_head
	block content
		include pug/common/_header
		main#main
			.start-section.parallax-section
				.bg-holder
					img(src="images/img-parallax03.jpg" alt="image description")
					.container-fluid
						.row.justify-content-center
							.col-10.col-md-12
								.text-box
									span.tag.decor-line-2.line-white Our Services
									p Ipsum dolor sit amet con sect etur adipi sicing elit
									.btn-row.btn-group
										a.btn.btn-lg.btn-outline-warning(href="#") SERVICES CALL TO ACTION
			.ctq-section.add
				.img-decor-02
					img(src="images/img-decor04.png", alt="image description")
				.container-fluid
					.row.flex-wrap-reverse.justify-content-center.justify-content-md-start
						.col-md-6.col-lg-4.d-flex.align-items-end
							img.ctq-img(src="images/img-person02.png", alt="image description")
						.col-10.col-md-6.col-lg-8.d-flex.align-items-center.text-md-left
							.text
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.
			.tab-section
				ul.tabset
					li: a(href='#tab1') Support<br> collective leadership
					li: a(href='#tab2') Facilitate<br> virtual communities
					li: a(href='#tab3') Tell<br> Stories
					li: a(href='#tab4') Redesign<br> Systems
					li: a(href='#tab5') Personalize<br> professional development
				.tab-content
					#tab1.open-close.active
						a.opener(href="#") Support collective leadership
						.tab-holder
							.container-fluid
								.row
									.col-12
										a(href="services-detail.html").service-tabs
											.hold
												.title
													.hold-title
														span.ico: img(src="images/support.svg", alt="image description")
														h2 Support<br> collective leadership
													.wrap-btn
														span.btn.btn-lg.btn-warning(type="button") CALL TO ACTION FOR THIS SERVICE
												.body
													h3 Facilitating collaborative leadership with the Impact Assessment Tools
													p Our Impact Assessment Tools help you (1) plan, (2) assess, and (3) share the impact of collective educational leadership solutions.
													h3 Using the tools, we guide individuals and teams as they:
													ul
														li Identify challenges, set goals, and evaluate the impact of their work.
														li Collect data, develop narratives, and design innovative communications strategies.
														li Share impact data and spread their expertise, bringing innovative solutions to scale.
													span.btn.btn-md.btn-outline-warning(type="button") READ MORE
					#tab2.open-close
						a.opener(href="#") Facilitate virtual communities
						.tab-holder
							.container-fluid
								.row
									.col-12
										a(href="#").service-tabs
											.hold
												.title
													.hold-title
														span.ico: img(src="images/community.svg", alt="image description")
														h2 Facilitate<br> virtual communities
													.wrap-btn
														span.btn.btn-lg.btn-warning(type="button") CALL TO ACTION FOR THIS SERVICE
												.body
													h3 Facilitating collaborative leadership with the Impact Assessment Tools
													p Our Impact Assessment Tools help you (1) plan, (2) assess, and (3) share the impact of collective educational leadership solutions.
													h3 Using the tools, we guide individuals and teams as they:
													ul
														li Identify challenges, set goals, and evaluate the impact of their work.
														li Collect data, develop narratives, and design innovative communications strategies.
														li Share impact data and spread their expertise, bringing innovative solutions to scale.
													span.btn.btn-md.btn-outline-warning READ MORE
					#tab3.open-close
						a.opener(href="#") Tell Stories
						.tab-holder
							.container-fluid
								.row
									.col-12
										a(href="#").service-tabs
											.hold
												.title
													.hold-title
														span.ico: img(src="images/tel.svg", alt="image description")
														h2 Tell <br> Stories
													.wrap-btn
														span.btn.btn-lg.btn-warning(type="button") CALL TO ACTION FOR THIS SERVICE
												.body
													h3 Facilitating collaborative leadership with the Impact Assessment Tools
													p Our Impact Assessment Tools help you (1) plan, (2) assess, and (3) share the impact of collective educational leadership solutions.
													h3 Using the tools, we guide individuals and teams as they:
													ul
														li Identify challenges, set goals, and evaluate the impact of their work.
														li Collect data, develop narratives, and design innovative communications strategies.
														li Share impact data and spread their expertise, bringing innovative solutions to scale.
													span.btn.btn-md.btn-outline-warning READ MORE
					#tab4.open-close
						a.opener(href="#") Redesign Systems
						.tab-holder
							.container-fluid
								.row
									.col-12
										a(href="#").service-tabs
											.hold
												.title
													.hold-title
														span.ico: img(src="images/redesign.svg", alt="image description")
														h2 Redesign <br> Systems
													.wrap-btn
														span.btn.btn-lg.btn-warning(type="button") CALL TO ACTION FOR THIS SERVICE
												.body
													h3 Facilitating collaborative leadership with the Impact Assessment Tools
													p Our Impact Assessment Tools help you (1) plan, (2) assess, and (3) share the impact of collective educational leadership solutions.
													h3 Using the tools, we guide individuals and teams as they:
													ul
														li Identify challenges, set goals, and evaluate the impact of their work.
														li Collect data, develop narratives, and design innovative communications strategies.
														li Share impact data and spread their expertise, bringing innovative solutions to scale.
													span.btn.btn-md.btn-outline-warning READ MORE
					#tab5.open-close
						a.opener(href="#") Personalize professional development
						.tab-holder
							.container-fluid
								.row
									.col-12
										a(href="services-detail.html").service-tabs
											.hold
												.title
													.hold-title
														span.ico: img(src="images/assess.svg", alt="image description")
														h2 Personalize<br> professional development
													.wrap-btn
														span.btn.btn-lg.btn-warning(type="button") CALL TO ACTION FOR THIS SERVICE
												.body
													h3 Facilitating collaborative leadership with the Impact Assessment Tools
													p Our Impact Assessment Tools help you (1) plan, (2) assess, and (3) share the impact of collective educational leadership solutions.
													h3 Using the tools, we guide individuals and teams as they:
													ul
														li Identify challenges, set goals, and evaluate the impact of their work.
														li Collect data, develop narratives, and design innovative communications strategies.
														li Share impact data and spread their expertise, bringing innovative solutions to scale.
													span.btn.btn-md.btn-outline-warning READ MORE
			include pug/template/_subscribe
		include pug/common/_footer
