.modal.fade.forgot-password(tabindex='-1', role='dialog', aria-hidden='true')
	button.close(type='button', data-dismiss='modal'): span.icon-close
	.modal-dialog.modal-sm
		.modal-content
			.container
				.title-form.text-center
					h3 Forgot Password
					p Please enter your email below. We’ll send you a link to reset/create your password.
				form.password-form(action="#")
					.form-group
						input(type="email", placeholder="Your Email")
					.form-group
						button.btn.btn-primary(type="submit") SEND emAIL
					.form-group.txt-wrap
						a(href="#", data-toggle='modal', data-target='.login', data-dismiss='modal') Back
					.form-group
						a.btn.btn-warning.text-no-uppercase(href="#") Not a member? Sign up today!