button.widget-menu-opener
	i.icon-dotted
.blog-widgets
	.widgets-hold
		span.close-menu
		.widget
			h3.decor-line-2.line-yellow OUR BLOGGERS
			ul
				li
					strong.name
						a(href="#") Barnett Berry
					span.position_link
						a(href="#") Position Here
				li
					strong.name
						a(href="#") Ann Byrd
					span.position_link
						a(href="#") Position Here
				li
					strong.name
						a(href="#") Jon Eckert
					span.position_link
						a(href="#") Position Here
				li
					strong.name
						a(href="#") Barnett Berry
					span.position_link
						a(href="#") Position Here
				li
					strong.name
						a(href="#") Ann Byrd
					span.position_link
						a(href="#") Position Here
				li
					strong.name
						a(href="#") Jon Eckert
					span.position_link
						a(href="#") Position Here
			span.more More
				i.icon-down2
		.widget.widget_popular_posts
			h3.decor-line-2.line-yellow POPULAR TOPICS
			ul
				li
					a(href="#") classroom practice
					| (2173)
				li
					a(href="#") education policy
					| (2173)
				li
					a(href="#") professional learning
					| (2173)
				li
					a(href="#") teacher leadership
					| (1732)
				li
					a(href="#") collaboration
					| (2173)
				li
					a(href="#") education technology
					| (2173)
				li
					a(href="#") student assessment
					| (2173)
				li
					a(href="#") educational equity
					| (2173)
				li
					a(href="#") teacher evaluation
					| (2173)
				li
					a(href="#") parent and community engagement
					| (1732)
				li
					a(href="#") classroom practice
					| (2173)
				li
					a(href="#") education policy
					| (2173)
				li
					a(href="#") professional learning
					| (2173)
				li
					a(href="#") teacher leadership
					| (1732)
				li
					a(href="#") collaboration
					| (2173)
				li
					a(href="#") education technology
					| (2173)
				li
					a(href="#") student assessment
					| (2173)
				li
					a(href="#") educational equity
					| (2173)
				li
					a(href="#") teacher evaluation
					| (2173)
				li
					a(href="#") parent and community engagement
					| (1732)
			span.more More
				i.icon-down2
		.widget.widget_archive
			h3.decor-line-2.line-yellow ARCHIVE
			ul
				li
					a(href="#") July 2017
					| (2)
				li
					a(href="#") June 2017
					| (2)
				li
					a(href="#") May 2017
					| (2)
				li
					a(href="#") April 2017
					| (2)
				li
					a(href="#") March 2017
					| (2)
				li
					a(href="#") February 2017
					| (2)
				li
					a(href="#") Decenmber 2017
					| (2)
				li
					a(href="#") November 2017
					| (2)
				li
					a(href="#") October 2017
					| (2)
				li
					a(href="#") September 2017
					| (2)
				li
					a(href="#") August 2017
					| (2)
			.more_body
				ul
					li
						a(href="#") July 2017
						| (2)
					li
						a(href="#") June 2017
						| (2)
					li
						a(href="#") May 2017
						| (2)
					li
						a(href="#") April 2017
						| (2)
					li
						a(href="#") March 2017
						| (2)
					li
						a(href="#") February 2017
						| (2)
					li
						a(href="#") Decenmber 2017
						| (2)
					li
						a(href="#") November 2017
						| (2)
					li
						a(href="#") October 2017
						| (2)
					li
						a(href="#") September 2017
						| (2)
					li
						a(href="#") August 2017
						| (2)
			span.more More
				i.icon-down2